@charset "UTF-8";

/*
Em HTML é id = em CSS # (só pode um elemento)
Em HTML é class = em CSS . (pode vários elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #183C23
}

h1#principal {
    text-align: center;
    background-color: #255E36;
    color: white;
}

h2 {
    color: #4EC371;
}

.basico {
    color: #4EC371;
    
    
}

.intermediario {
    color: #bbc34e;
    
}

.avancado {
    color: #c34e4e;

}

.destaque {
    background-color: rgba(255, 238, 0, 0.411);
}

