@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9EF8EE, #22BABB);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(60, 72, 82);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #faf208;
text-align: center;
text-shadow: 1px 1px 2px #615e05;
}

h2 {
color:#348888;
}

p {
    text-align: justify;
}